# sudo
alias sudo="sudo "
alias se="sudoedit"

# apt
alias apti="aptitude"
alias aptup="sudo apt update"
alias aptupg="sudo apt update && sudo apt upgrade"
alias aptupl="sudo apt update && sudo apt list --upgradeable"
alias aptclean="sudo apt autoremove --purge"
alias aptdep="sudo apt-cache rdepends"
alias aptlist="sudo apt list --installed"
alias aptpkg="sudo apt list --installed | grep"
alias aptsearch="sudo apt search"

# coreutils
alias cd-="popd"
#alias cp="cpa -g"
#alias mv="mva -g"

# ls
alias l="ls -lh --color=auto"
alias ll="ls -lah --color=auto"
#alias l="exa -la --group-directories-first"
#alias lt="exa -lasnew --group-directories-first"

# git
alias gll="git log"

# vim
alias vim="nvim"
alias svim="sudo -E nvim"

# rg
#alias rip="~/.cargo/bin/rg -C5 --no-ignore -iuu"
alias rg="rg --no-ignore -iuu"

# zsh
alias x="jump"

# tmux
alias amux="tmux attach-session -t"
alias kmux="tmux kill-session -t"
alias lmux="tmux list-sessions"
alias nmux="tmux rename-session -t"
alias mux="tmux new-session -s"
alias rmux="pgrep tmux &> /dev/null || (tmux new-session -d -s restore 'tmux run-shell ~/.tmux/plugins/tmux-resurrect/scripts/restore.sh && tmux kill-session -t restore' &)"

# svn 
alias svnlog="svn log | svn-fancy-log | less -r"

# aria2c
alias aria="aria2c -x 10"
