# sudo
alias sudo="sudo "
alias se="sudoedit"

# apt
alias apti="aptitude"
alias aptup="sudo apt update"
alias aptupg="sudo apt update && sudo apt upgrade"
alias aptupl="sudo apt update && sudo apt list --upgradeable"
alias aptclean="sudo apt autoremove --purge"
alias aptgrep="sudo apt list --installed | grep"

# coreutils
alias cd-="popd"
#alias cp="cpa -g"
#alias mv="mva -g"

# ls
alias l="ls -la --color=auto"
#alias l="exa -la --group-directories-first"
#alias lt="exa -lasnew --group-directories-first"

# git
alias gll="git log"

# vim
alias vim='nvim'

# rg
alias rip="~/.cargo/bin/rg -C5 --no-ignore -iuu"
alias rg="~/.cargo/bin/rg --no-ignore -iuu"

# zsh
alias x="jump"

# du
alias sizes="du -sh * | sort -h"

# tmux
alias amux="tmux attach-session -t"
alias kmux="tmux kill-session -t"
alias lmux="tmux list-sessions"
alias nmux="tmux rename-session -t"
alias mux="tmux new-session -s"
alias rmux="pgrep tmux &> /dev/null || (tmux new-session -d -s restore 'tmux run-shell ~/.tmux/plugins/tmux-resurrect/scripts/restore.sh && tmux kill-session -t restore' &)"

