# coreutils
hist() { history | tail -$1 }
lg() { ls | grep $1; }
mdir() { mkdir $1 && cd $1;}
rl() { readlink -f $1 }

# find
f() { find ./ -name \*$1\* 2&> /dev/null; }
fc() { find ./ -iname \*$1\* 2&> /dev/null | grcat findhi;}
fdir() { find ./ -type d -iname \*$1\* 2&> /dev/null | grcat findhi }
fvim() { find ./ -iname \*$1\* 2&> /dev/null | xargs -o nvim; } 

# zsh
dots() { zstyle ':zim:input' double-dot-expand yes }
hist() { history | tail -$1; }
sauce() { source ${1:-~/.zshrc} }
zim() { zimfw install && zimfw uninstall && zimfw upgrade && zimfw update && zimfw clean && zimfw compile && zimfw build; }
zimup() {zimfw upgrade && zimfw update && zimfw clean && zimfw compile && zimfw build; }

# permissions
own() { sudo chown -R www-data:www-data "$@"; }
gown() { sudo chmod -R g+wrx "$@"; }

# networking
ufwdel() { yes | sudo ufw delete $1 && sudo ufw status numbered }
ngxlnk() { sudo ln -s "/etc/nginx/sites-available/$1" "/etc/nginx/sites-enabled/$1"; } 

listtables() { sudo iptables -t nat -L -n -v && sudo iptables -L -v -n | more }
flushtables() { for i in $( sudo iptables -t nat --line-numbers -L | grep '^[0-9]' | awk '{ print $1 }' | tac ); do sudo iptables -t nat -D PREROUTING $i 2>/dev/null ; done && for i in $( sudo iptables -t nat --line-numbers -L | grep '^[0-9]' | awk '{ print $1 }' | tac ); do sudo iptables -t nat -D POSTROUTING $i 2>/dev/null; done && sudo iptables -F && sudo iptables -X }

snitches() { flushtables; sudo iptables-restore < /etc/network/iptables.mitm.rules; }
stitches() { flushtables; sudo iptables-restore < /etc/network/iptables.up.rules; }

netreset() { sudo systemctl daemon-reload && sudo service networking restart && sudo service dhcpcd restart && sudo service hostapd restart && sleep 5 && sudo service isc-dhcp-server restart }

dnsinfo() { dig whoami.akamai.net +short | tee /dev/stderr | nslookup -type=PTR | rg --colors=match:none '^.+name = (.*).' -r'$1'; }
ipinfo() { curl -s ipinfo.io | jq -r ".ip, .hostname, .city, .country, .org" | tr -s '\r\n' ' ' && echo '\r' && ipconfig getifaddr en1 }

