zmodule environment # Sets sane Zsh built-in environment options.
zmodule input # Applies correct bindkeys for input events.
#zmodule utility # Utility aliases and functions. Adds colour to ls, grep and less.
#zmodule git-info # Exposes git repository status information to prompts.

# zmodule ssh # Provides a convenient way to load ssh-agent.
# zmodule termtitle # Sets a custom terminal title.
# zmodule git # Provides handy git aliases and functions.

zmodule zsh-users/zsh-completions # Additional completion definitions for Zsh.
zmodule completion # completion must be sourced after zsh-users/zsh-completions
zmodule zsh-users/zsh-autosuggestions # Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-syntax-highlighting # zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-history-substring-search #must be sourced after zsh-users/zsh-syntax-highlighting
#zmodule history-substring-search

zmodule romkatv/powerlevel10k

zmodule ohmyzsh/ohmyzsh \
-s plugins/git/git.plugin.zsh \
-s plugins/sudo/sudo.plugin.zsh \
-s plugins/jump/jump.plugin.zsh \
-s plugins/fzf/fzf.plugin.zsh

zmodule agkozak/zsh-z -a zsh-z

#zmodule knu/zsh-manydots-magic -n manydots-magic -a manydots-magic
